/* CSS Document */
.col {
	width: 340px;
  	float: left;
  	padding: 15px;
}

.card-title {
    margin-left: 5%;
}

/* Avatar positioning, sizing and alignments */
.avatar {
	cursor: pointer;
    width: 40%;
    margin-top: 20px;
}

.initial {
    padding-top: 20px;
	cursor: pointer;
    width: 16%;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

.file-icon {
    width: 17%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Text positioning, sizing and alignments */
.Owner-text {
    margin-left: 6%;
}

.Shared-people-text {
    margin-left: 26%;
}

.Type-of-file-text {
    margin-left: 5%;
    margin-right: 14%;
}

/* Icon positioning, sizing and alignments */
.icon {
	cursor: pointer;
    width: 20%;
    padding: 12px;
}

.link {
    margin-left: 13%;
}

.flex-container {
  display: flex;
  height:80vh;
  justify-content: center;
  align-items: center;
}

.div-main-contents{
  margin-top:65px;
  margin-left:300px;
}
