/* CSS Document */
.col {
	width: 340px;
  	float: left;
  	padding: 15px;
}

.card-title {
    margin-left: 5%;
}

.avatar {
	cursor: pointer;
    width: 40%;
    margin-top: 20px;
}

.initial {
	cursor: pointer;
    width: 20%;
    border-radius: 50%;
    padding: 5px;
}

.file-icon {
    width: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Owner-text {
    margin-left: 10%;
}

.Shared-people-text {
    margin-left: 20%;
}

.Type-of-file-text {
    margin-left: 8%;
    margin-right: 10%;
}

.icon {
	cursor: pointer;
    width: 20%;
    padding: 12px;
}

.link {
    margin-left: 8%;
}