.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link-header {
    border: 1px solid #d7e0f9;
    text-align: left;
    padding: 8px;
}

.link-item {
    border: 1px solid #d7e0f9;
    text-align: left;
    padding: 8px;
}

.link-share {
    border-collapse: collapse;
    width: 100%;
}

.group-select {
    padding: 8px;
    padding-left: 0px;
}

.project-names {
    padding-right: 12px;
}

.top-sharing-bar, .done-button {
    background-color: #0453ca;
    color: white;
}

#advanced-sharing {
    display: none;
}