/* CSS Document */
/*
64AFED
3f8cda
314582
1E274B
*/
.google-drive-blue{
  background: #3f8cda;
  color:white;
}

.div-wrapper{
  position: relative;
}

#div-new-project{
  height: 70px;
  margin: 15px 0px;
}

.btn-new-project{
  transition-duration: 0.4s;
  border: 2px solid #3f8cda;
}

.btn-new-project:hover {
  color: black;
  border: 2px solid #3f8cda;
  background-color: #EEEEEE !important;
}

#img-plus{
  width: 20px;
  height: 20px;
  margin: 5px;
}

.sideNavItem:hover{
  background-color: #EEEEEE !important;
}

.sideNavItem-active{
  border-left: 4px solid #3f8cda !important;
  background-color: #EEEEEE !important;
}
